.col-1{
    width: 8.33%;
}

.col-2{
    width: 16.66%;
}

.col-3{
    width: 25%;
}

.col-4{
    width: 33.33%;
}

.col-5{
    width: 41.66%;
}

.col-6{
    width: 50%;
}

.col-7{
    width: 58.33%;
}

.col-8{
    width: 66.66%;
}

.col-9{
    width: 75%;
}

.col-10{
    width: 83.33%;
}

.col-11{
    width: 91.66%;
}

.col-12{
    width: 100%;
}

@media (min-width: 992px) and (max-width: 1370px) {
    .header-wrap-icon{
        display: none;
    }
}


@media (min-width: 768px) and (max-width: 991px){
    .header-wrap{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .header-wrap-logo img{
        height: 30px;
    }

    .header-wrap-icon{
        display: block;
    }

    .d-none{
        display: unset;
    }

    .header__item:first-child{
        width: 100%;
    }

    .header__item:nth-child(2), .header__item:last-child{
        display: none;
    } 
}